/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__more_inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}
.centered_main {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}
.centered_main__task {
  width: 56%;
  display: inline-block;
}
.centered_main_list {
  margin: 0;
  padding: 0px;
}
.centered_main__li, 
.centered_main__h3 {
  list-style: none;
}
.centered_main__input,
.centered_main__button {
  outline: none;
}
.centered_main__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.centered_main__button:hover {
  color: #3a3A3a;
}
/* Heading */
.centered_main__h3,
.centered_main__new_task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.centered_main__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.centered_main__text:focus {
  color: #333;
}

/* New Task */
.centered_main__new_task {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  /* width: 318px; */
  width: 288px;
}
.centered_main__add:hover {
  color: #0FC57C;
}

/* Task list */
.centered_main__li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.centered_main__li > * {
  vertical-align: middle;
}

.centered_main__li > .centered_main__checkbox {
  margin: 0 10px;
}
.centered_main__li > .centered_main__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.centered_main__li > .centered_main__text {
  width: 226px;
}
.centered_main__delete:hover {
  color: #CF2323;
}
.centered_main__delete .centered_main__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.centered_main__delete .centered_main__img:hover {
  transform: rotateZ(0);
}
/* Completed */
#completed_tasks .centered_main__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.centered_main__hide {
  display: none;
}

.centered_main__edit_mode .centered_main__text {
  display: inline-block;
  /* width:224px */
  width: 204px;
}

.centered_main__edit_mode .centered_main__label {
  display: none;
}